###> docker ###
/compose.override.yaml
/compose.override.prod.yaml
###< docker ###

###> embedder ###
/embedder/__pycache__/
###< embedder ###

###> faiss ###
/faiss/__pycache__/
###< faiss ###

###> Extra ###
/.DS_Store/
/.vscode/
###< Extra ###

