services:
  php:
    build: ./php/
    ports:
      - "8000:80"
    volumes:
      - ./php:/srv

  chroma:
    image: chromadb/chroma
    ports:
      - 8010:8000
    volumes:
      - chroma_data:/chroma/chroma

  qdrant:
    image: qdrant/qdrant
    ports:
      - 8020:6333
    volumes:
      - qdrant_data:/qdrant/storage

  faiss:
    build: ./faiss/
    ports:
      - "8030:5000"
    volumes:
      - faiss_data:/data/faiss
    environment:
      - VECTOR_DIMENSION=384
      - INDEX_TYPE=Flat
      - INDEX_PATH=/data/faiss/index.idx

  embedder:
    build: ./embedder/
    environment:
      - TIKA_URL=http://tika:9998
    ports:
      - "5000:5000"
    volumes:
      - ./embedder:/app
    depends_on:
      - tika

  ollama:
    build: ./ollama/
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  tika:
    image: apache/tika
    ports:
      - "9998:9998"

volumes:
  chroma_data:
  qdrant_data:
  faiss_data:
  ollama_data:
