services:
  php:
    build: ./php/
    volumes:
      - ./php:/srv

  chroma:
    image: chromadb/chroma
    ports:
      - 8010:8000
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      - CHROMA_LOG_LEVEL=DEBUG
      - ANONYMIZED_TELEMETRY=FALSE

  qdrant:
    image: qdrant/qdrant
    ports:
      - 8020:6333
    volumes:
      - qdrant_data:/qdrant/storage

  faiss:
    build: ./faiss/
    ports:
      - 8030:5000
    volumes:
      - ./faiss:/app
      - faiss_data:/data/faiss

  embedder:
    build: ./embedder/
    ports:
      - 5000:5000
    environment:
      - TIKA_URL=http://tika:9998
      - PHP_URL=http://php:80
    volumes:
      - ./embedder:/app
    depends_on:
      - tika

  ollama:
    build: ./ollama/
    volumes:
      - ollama_data:/root/.ollama

  tika:
    image: apache/tika
    ports:
      - "9998:9998"

volumes:
  chroma_data:
  qdrant_data:
  faiss_data:
  ollama_data:
